.DS_Store
view/.DS_Store
view/node_modules
view/dist

private/

# vagrant
.vagrant/
.cache/
.gnupg/
.bash_history
.sudo_as_admin_successful
module/
*.log
*flowtable.yaml
*.pcap

.ICEauthority-c
.mininet_history
.python_history

__pycache__/
*.pyc

# local env files
view/.env.local
view/.env.*.local

# Log files
view/npm-debug.log*
view/yarn-debug.log*
view/yarn-error.log*
view/pnpm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
